Hola #{@user.name}!

Aquí está la confirmación para el servicio que solicitaste en Boxtrip.com.mx

Por favor, revisa tus datos.

Nombre: #{ @user.name }
Apellido paterno: #{ @user.paternal_name }
Apellido materno: #{ @user.maternal_name }
Email: #{ @user.email }
Teléfono: #{ @user.phone_number }
