!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport" }
    %title Boxtrip
    %meta{ content: "Boxtrip. El servicio fácil de mudanzas.", name: "description" }
    %meta{ content: "moving, moving fast, easy moving", name: "keywords" }
    %meta{ content: "RandomWalker", name: "author" }
    %link{ href: "/assets/favicon.png", rel: "icon", sizes: "16x16", type: "image/png" }

    / Estilos
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: "/assets/fixed.css", rel: "stylesheet" }
    -# %link{ href: "/assets/bootstrap.min.css", rel: "stylesheet" }
    -# %link{ href: "/assets/font-awesome.min.css", rel: "stylesheet" }
    = content_for :stylesheets_includes
    %link{ href: "/assets/main.css", rel: "stylesheet" }

    / Javascript
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{ src: "/assets/jquery-1.11.1.min.js" }
    %script{ src: "/assets/jquery-ui.min.js" }
    %script{ src: "/assets/jquery.nicescroll.js" }

    = content_for :javascript_includes
    %script{ src: "/assets/snap.svg-min.js" }
    %script{ src: "/assets/slider.js" }
    %script{ src: "/assets/jsCore.js" }
    = csrf_meta_tags

    /[if IE]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  %body
    = render partial: "partials/flash"
    = yield
